/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.menu a {
    margin-left: 50px;
    padding-top: 14px;
}

.menu a:hover {
    color: #0065FC;
    border-top: 1px #0065FC solid; 
}

.logo {
    height: 19px
}


body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
h4 {
    font-size: 18px;
}

/****** Infogroup ***********/
.slogan {
    margin-top: 50px;
    margin-bottom: 30px;
}

/****** Un formulaire de recherche ***********/
.formulaire-recherche {
    display: flex;
    margin-bottom: 35px;
    width: 377px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.icon i{
    color: black;
}

.localisation {
    width: 195px;
    border-color: #F2F2F2 transparent #F2F2F2 transparent;
    font-weight: bold;
    padding-left: 10px;
    border-style: solid;
}

.boutton {
    width: 132px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: white;
    border: none;
}

.localisation, .boutton {
    margin: auto;
    height: 49px;
    font-size: 18px;
    font-weight: bold;
}

/************** Les filtres ***************/
.filtre {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin: 0;
}

.thematique {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

.choix {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    padding: 13px 19px 13px 19px
}

.choix p {
    margin: 0;
}

.iconinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
}
 .textinfo {
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .thematique :hover {
    background-color: #DEEBFF;
 }
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }

.hebergements-cards .card-title {
    margin-top: 4px;
    margin-bottom: 5px;
}
.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    
}

.card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

 

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}