/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    height: 100%;
    gap: 68px;
    box-sizing: border-box;
}

.menu a {
    padding-top: 16px;
}

.menu a:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid; 
}

.logo {
    height: 19px
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
h4 {
    font-size: 18px;
    margin: 0;
}

/****** Infogroup ***********/
.infogroup {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 35px;
}
.slogan {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.slogan p, .infogroup p {
    margin: 0;
}

/****** Un formulaire de recherche ***********/
.formulaire-recherche {
    display: flex;
    justify-content: space-between;
    width: 377px;
    height: 49px;
}

.icon {
    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.icon i{
    color: black;
}

.localisation {
    width: 195px;
    border-color: #F2F2F2 transparent #F2F2F2 transparent;
    font-weight: bold;
    padding: 0 0 0 10px;
    border-style: solid;
    height: 49px;

}

.boutton_mot {
    width: 132px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: white;
    border: none;
    padding: 0;

}

.localisation, .boutton_mot {
    margin: auto;
    height: 49px;
    font-size: 18px;
    font-weight: bold;
}

.boutton_loupe {
    background-color: #0065FC;
    border-radius: 15px;
    width: 49px;
    display: none;
}

/************** Les filtres ***************/
.filtre {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.thematique {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

.choix {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    padding: 13px 19px 13px 19px
}

.choix p {
    margin: 0;
}

.iconinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
}
 .textinfo {
    display: flex;
    align-items: center;

    gap: 10px;
 }

 .thematique :hover {
    background-color: #DEEBFF;
 }
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 30px;
    margin-top: 33px;
    margin-bottom: 33px;
}

.hebergements-cards .card {
    height: 100%;
    box-sizing: border-box;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    box-sizing: border-box;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
 }

.hebergements-cards .card-title {
    margin-top: 4px;
    margin-bottom: 5px;
}

.hebergements-cards .card-rating {
    margin-top: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    
}

.card-subtitle {
    margin: 0;
    font-size: 14px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/************** Activités à Marseille ***************/

.activites {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
    box-sizing: border-box;
    
}
.activites-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    

}

.activites-card .card {
    padding: 0;
    height: 100%;
}

.activites-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 380px;

}

.activites-card .card-title {
    padding: 20px 19px;
    margin: 0;
}

/************** Le footer ***************/

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 20px 20px;
    margin-top: 35px;
}

.infopied {
    width: 33%;
}

.listepied {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listepied li {
    margin-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        padding: 0;
    }

    .infogroup, nav {
        padding: 0 20px 0 20px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    nav {
        flex-direction: column;
        height: 115px;
    }

    .logo {
        padding: 30px 0 30px 0;
    }

    .menu {
        width: 100%;
        gap: 0;
        height: 36px;
    }

    .menu a:hover {
        border-bottom: 2px #0065FC solid; 
        border-top: none;
    }

    .menu a {
        width: 50%;
        text-align: center;
        padding-top: 0;
    }

    .boutton_mot {
        display: none;
    }

    .boutton_loupe {
        background-color: #0065FC;
        border-radius: 15px;
        width: 49px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border: none;
        box-shadow:0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        right: 10px;
    }

    .formulaire-recherche {
        width: 96%;

    }

    .localisation {
        width: 100%;



        }

    .choix {
        font-size: 14px;
        height: 50px;
        box-sizing: border-box;
    }

    .filtre {
        flex-direction: column;
        align-items: flex-start;
    }

    .thematique {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px;
        width: 100%;
    }
    
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
        padding: 20px;
    }
    
    .hebergements-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    #heberg {
        background-color: #ffffff;
    }

    .activites-card {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    footer {
        flex-direction: column;
        gap: 50px;
    }

    .infopied {
        width: 100%;
    }
}